<h1>{{appName}}</h1>
<div class="row">
    <div class="col-md-3" *ngFor="let product of list; let i=index">
            <div class="card" style="width: 18rem;">
              <img src="{{product.picture}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">
                  price: {{product.price}}
                  <br>
                  quantity: {{product.quantity}}
                </p>
                <button (click)="incrementLike(product)"   class="btn btn-primary">like {{product.nbrLike}}
                </button>
                &nbsp;
                <button (click)="buyProduct(i)"   class="btn btn-sm btn-warning" [disabled]="product.quantity==0">buy {{product.price}} Dt
                </button>
                &nbsp;
                <button (click)="deleteProduct(product.id,i)" class="btn btn-sm btn-danger" >delete</button>
                <p *ngIf="product.quantity==0">
                  out of stock :(
                    </p>

              </div>
            </div>
    </div>
</div>
